.footer {
    margin-top: 25px;
    height: 56px;
}

.footer__wrapper {
    height: 100%;
    text-align: center;
}

.footer__years {
    margin: 18px 0;
    font-size: 14px;
    line-height: 16px;
    color: #CCCCCC;
}